<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="J-8A4eytv9Uu8HZjy4ySQ8hrDX8-zJb0C5hbv-_hMzU" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="CSS/register.css">
    <link rel="icon" href="favicon.png">
</head>

<body>
    <center>
        <form action="/" method="post">
            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="username" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" id="pass1"  placeholder="Enter Password" name="password" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" id="pass2"  placeholder="Repeat Password" name="passwordConfirm" required>
                <span id="error"></span>
                
                <div class="clearfix">
                    <button type="submit" onclick="registerErrorMessage()" class="cancelbtn">Sign Up</button>
                    <button type="button" onclick="login();" class="signupbtn">Login</button>
                </div>
            </div>
        </form>
        <div class="hz">
        <hr class="hr-text" data-content="OR">
        </div>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

        <div class="google-btn">
            <div class="google-icon-wrapper">
                <img class="google-icon"
                    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
            </div>
            <p class="btn-text"><a href="/auth/google"><b>Sign up with google</b></a></p>
        </div>
    </center>
    <script src="index.js"></script>
</body>

</html>